.content-four {
  &_column {
    margin-left: 110px;
    @media only screen and (max-width: 1400px) {
      margin-left: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media only screen and (max-width: 1200px) {
      margin: 0 auto;
      max-width: 90%;
    }
  }
  &_title {
    margin-bottom: 154px;
    text-align: left;
    @media only screen and (max-width: 1400px) {
      margin-bottom: 90px;
    }
    @media only screen and (max-width: 1200px) {
      margin: 45px auto;
      text-align: center;
    }
  }
  &_text {
    margin-bottom: 35px;
    @media only screen and (max-width: 1200px) {
      text-align: justify;
    }
  }
  &_link {
    margin-bottom: 5px;
    @media only screen and (max-width: 1200px) {
      margin: 0 auto 5px;
    }
  }
}
.content-four_row {
  margin: 60px 0;
  @media only screen and (max-width: 1200px) {
    margin-bottom: 45px;
    flex-direction: column;
  }
}
.img-content-four {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50% 50% 0 0;
}
