.background {
  background: #996B60 url("./../image/banner/pic.jpg") 0 0 / cover no-repeat;
  background-size: contain;
  @media only screen and (max-width: 1320px) {
    background: url("./../image/banner/pic.jpg") no-repeat;
    background-size: cover;
  }
}
.header {
  .row {
    justify-content: space-between;
    @media only screen and (max-width: 576px) {
      flex-direction: column;
    }
  }
  &__logo {
    text-align: center;
    margin: 25px 0;
    @media only screen and (max-width: 576px) {
      order: 1;
      margin: 15px 0;
    }
  }
}
.nav-list {
  flex: 0 1 41.666%;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 576px) {
    flex-direction: column;
    order: 2;
    text-align: center;
  }
  &:last-of-type {
    justify-content: flex-end;
    @media only screen and (max-width: 768px) {
      justify-content: flex-start;
      margin: 0;
    }
    .nav-list__item {
      margin-left: 60px;
      @media only screen and (max-width: 1200px) {
        margin-left: 45px;
      }
      @media only screen and (max-width: 992px) {
        margin-left: 20px;
      }
      @media only screen and (max-width: 768px) {
        margin-left: 8px;
        justify-content: center;
      }
      @media only screen and (max-width: 576px) {
        margin: 8px 0 0 0;
      }
    }
  }
  &:first-of-type {
    justify-content: flex-start;
    @media only screen and (max-width: 768px) {
      justify-content: flex-end;
      margin: 0;
    }
    .nav-list__item {
      margin-right: 60px;
      @media only screen and (max-width: 1200px) {
        margin-right: 45px;
      }
      @media only screen and (max-width: 992px) {
        margin-right: 20px;
      }
      @media only screen and (max-width: 768px) {
        margin-right: 8px;
      }
      @media only screen and (max-width: 576px) {
        margin: 8px 0 0 0;
      }
    }
  }
  &__item {
    a {
      color: #fff;
    }
  }
}
